.header {
    min-height: 895px;
    background-image: url(../../public/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header h1 {
    padding-top: 175px;
    margin-top: 0;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Georgia', serif;
    max-width: 440px;
    color: #01996D;
}

.header p {
    height: 123px;
    font-size: 20px;
    max-width: 420px;
    color: #484848;
    margin-bottom: 18px;
}

.header button {
    font-size: 20px;
    width: 227px;
    height: 65px;
    border-radius: 4px;
    color: white;
    background-color: #01996D;
    border: none;
    cursor: pointer;
    font-weight: bold;
}